.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0A1D36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:  #8A8C8E;
}

.heart {
  color: #00D1FF;
}

.small {
  font-size: 0.75rem;
}
body {
  background: radial-gradient(circle at center, #0f172a, #1e3a8a);
  background-size: cover;
}

.glow {
  filter: drop-shadow(0 0 12px #3b82f6);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}
